<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ICS Locations (Filter by date)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"/>

  <link rel="stylesheet" href="mapStyles.css"/>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
</head>

<body>
  __CONTROLS_BLOCK__

  <div id="map"></div>

  <script src="mapScripts.js"></script>
  __MAYBE_APPLY_LISTENER__
</body>
</html>
